[user]
    name = Mauro Oliveira
    email = mauro.anselmo.oliveira@gmail.com
[alias]
    p = "!git push -u origin $(git rev-parse --abbrev-ref HEAD)"
    c = "!git add -A && git commit"
    s = "status"
